flask
gunicorn
school-tracker @ git+https://github.com/aloismutharimi/school_tracker-sys.git

# For local development with instant feedback, install editable instead:
#   pip uninstall school-tracker -y
#   pip install -e ../school_tracker